rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    match /leads/{leadId} {
      allow read: if true;
      allow write: if leadId is string && leadId.size() <= 128;
    }

    match /testimonials/{testimonialId} {
      allow read: if true;
      allow write: if testimonialId is string && testimonialId.size() <= 128;
    }
  }
}
