rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // global helpers
    function isValidId(id) {
      return id is string && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$');
    }

    match /leads/{leadId} {
      allow read, create, update, delete: if isValidId(leadId);
    }

    match /testimonials/{testimonialId} {
      allow read, create, update, delete: if isValidId(testimonialId);
    }
  }
}
